---
layout: default
---

<!--
<script type="text/javascript">!function(t,e,n){
function a(t){var  a=e.createElement("script");a.type="text/javascript" ,a.async=!0,a.src=("https:"===e.location.protocol?"https":"http")+":"+n,(t||e.body||e.head).appendChild(a)}function o(){var  t=e.getElementsByTagName("script"),n=t[t.length-1];return n.parentNode} var  p=o();t.spotId="sp_8GjteeKE",t.parentElement=p,a(p)}(window.SPOTIM={},document,"//www.spot.im/launcher/bundle.js");</script>
-->

<article itemscope itemtype="http://schema.org/Article" class="post">
    
             <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div style="float:right;" class="addthis_sharing_toolbox"></div>

<h1 itemprop="name" >{{ page.title }}</h1>

  <div itemprop="articleBody" class="entry">
    {{ content }}
  </div>

  <div itemprop="datePublished" content="{{page.date}}" class="postmetadata">
   Written on <span class="updated"> {{ page.date | date: "%B %e, %Y" }}</span> 
  </div>

  {% include commentsSection.html %}
  {% include addThis.html %}
</article>
