---
layout: default
---
<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- simpleAd -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9765860196825802"
     data-ad-slot="2383888377"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

  {% include disqus.html %}
  {% include addThis.html %}
</article>
